version: 6.4.0

type: DeclarativeSource

description: >-
  This connector integrates with the TMDB API using the UI Connector Builder,
  enabling seamless access to various TMDB features. It includes the following
  actions: Fetches a list of currently popular movies, Retrieves
  account-specific details, Adds a movie to the favorite list, Adds a movie to
  the watchlist, Retrieves the list of movies marked as favorites, Retrieves the
  list of movies added to the watchlist, Finds movie information based on an
  external ID (like IMDb ID), Fetches detailed information about a specific
  movie by its TMDB ID.

check:
  type: CheckStream
  stream_names:
    - Popular Movie List

definitions:
  streams:
    Popular Movie List:
      type: DeclarativeStream
      name: Popular Movie List
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/movie/popular
          http_method: GET
          request_parameters:
            "\"language\"": "{{ config['language'] }}"
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
        paginator:
          type: DefaultPaginator
          page_token_option:
            type: RequestOption
            inject_into: request_parameter
            field_name: page
          pagination_strategy:
            type: PageIncrement
            start_from_page: 1
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Popular Movie List"
    Get Account Details:
      type: DeclarativeStream
      name: Get Account Details
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/account/{{ config["accountid"] }}
          http_method: GET
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Get Account Details"
    Add To Favourite:
      type: DeclarativeStream
      name: Add To Favourite
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/account/{{ config["accountid"] }}/favorite
          http_method: POST
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
          request_body_json:
            media_type: "{{ config['media_type'] }}"
            media_id: "{{ config['media_id'] }}"
            favorite: "{{ config['favorite'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Add To Favourite"
    Add To Watchlist:
      type: DeclarativeStream
      name: Add To Watchlist
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/account/{{ config["accountid"] }}/watchlist
          http_method: POST
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
          request_body_json:
            media_type: "{{ config[\"media_type\"] }}"
            media_id: "{{ config[\"media_id\"] }}"
            watchlist: "{{ config['watchlist'] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Add To Watchlist"
    Get Favourite Movies:
      type: DeclarativeStream
      name: Get Favourite Movies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/account/{{ config["accountid"] }}/favorite/movies
          http_method: GET
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Get Favourite Movies"
    Get Watchlist Movies:
      type: DeclarativeStream
      name: Get Watchlist Movies
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/account/{{ config["accountid"] }}/watchlist/movies
          http_method: GET
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Get Watchlist Movies"
    Find Movie By Id From External Source:
      type: DeclarativeStream
      name: Find Movie By Id From External Source
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/find/{{ config['external_source_movie_id'] }}
          http_method: GET
          request_parameters:
            external_source: "{{ config['external_source'] }}"
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Find Movie By Id From External Source"
    Details Of A Movie:
      type: DeclarativeStream
      name: Details Of A Movie
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: /3/movie/{{ config['movie_id'] }}
          http_method: GET
          request_headers:
            Accept: application/json
            x-api-key: "{{ config[\"x_api_key\"] }}"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/Details Of A Movie"
  base_requester:
    type: HttpRequester
    url_base: https://api.themoviedb.org
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config[\"token\"] }}"

streams:
  - $ref: "#/definitions/streams/Popular Movie List"
  - $ref: "#/definitions/streams/Get Account Details"
  - $ref: "#/definitions/streams/Add To Favourite"
  - $ref: "#/definitions/streams/Add To Watchlist"
  - $ref: "#/definitions/streams/Get Favourite Movies"
  - $ref: "#/definitions/streams/Get Watchlist Movies"
  - $ref: "#/definitions/streams/Find Movie By Id From External Source"
  - $ref: "#/definitions/streams/Details Of A Movie"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - token
      - language
      - x_api_key
      - favorite
    properties:
      token:
        type: string
        order: 0
        title: Token
        airbyte_secret: true
      language:
        type: string
        order: 1
        title: language
      x_api_key:
        type: string
        order: 2
        title: x-api-key
      accountid:
        type: string
        title: accountId
        order: 3
      media_type:
        type: string
        title: media_type
        order: 4
      media_id:
        type: integer
        title: media_id
        order: 5
      favorite:
        type: boolean
        title: favorite
        order: 6
      watchlist:
        type: boolean
        title: watchlist
        order: 7
      external_source_movie_id:
        type: string
        title: external_source_movie_id
        order: 8
      external_source:
        type: string
        title: external_source
        order: 9
      movie_id:
        type: string
        title: movie_id
        order: 10
    additionalProperties: true

metadata:
  autoImportSchema:
    Popular Movie List: true
    Get Account Details: true
    Add To Favourite: true
    Add To Watchlist: true
    Get Favourite Movies: true
    Get Watchlist Movies: true
    Find Movie By Id From External Source: true
    Details Of A Movie: true
  testedStreams:
    Popular Movie List:
      streamHash: 0c3dbe6cfbb8aa110ffadb787c379059f4feda0f
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Get Account Details:
      streamHash: 719fad1aa59569550164aaa5547951e9e9c8ebe5
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Add To Favourite:
      streamHash: 91af289ec2781a25dc9ddefbcc7451ac6f6043f6
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Add To Watchlist:
      streamHash: b3889dded5f01e81757b98feddc70cdd58a6bd50
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Get Favourite Movies:
      streamHash: 21d895a4039b0c8458e50a6ecd873ed017e7c096
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Get Watchlist Movies:
      streamHash: 895b203765bfbb70f5256c1b8a321edace76dcb0
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Find Movie By Id From External Source:
      streamHash: 61132dc4ce63d9235f04723e39218980d08d76e2
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    Details Of A Movie:
      streamHash: 0d9a62432092bcad06bb13499cc557dd43aef472
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
  assist: {}

schemas:
  Popular Movie List:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      page:
        type:
          - number
          - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            adult:
              type:
                - boolean
                - "null"
            backdrop_path:
              type:
                - string
                - "null"
            genre_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            id:
              type:
                - number
                - "null"
            original_language:
              type:
                - string
                - "null"
            original_title:
              type:
                - string
                - "null"
            overview:
              type:
                - string
                - "null"
            popularity:
              type:
                - number
                - "null"
            poster_path:
              type:
                - string
                - "null"
            release_date:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            video:
              type:
                - boolean
                - "null"
            vote_average:
              type:
                - number
                - "null"
            vote_count:
              type:
                - number
                - "null"
      total_pages:
        type:
          - number
          - "null"
      total_results:
        type:
          - number
          - "null"
  Get Account Details:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      avatar:
        type:
          - object
          - "null"
        properties:
          gravatar:
            type:
              - object
              - "null"
            properties:
              hash:
                type:
                  - string
                  - "null"
          tmdb:
            type:
              - object
              - "null"
            properties: {}
      id:
        type:
          - number
          - "null"
      include_adult:
        type:
          - boolean
          - "null"
      iso_3166_1:
        type:
          - string
          - "null"
      iso_639_1:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      username:
        type:
          - string
          - "null"
  Add To Favourite:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      status_code:
        type:
          - number
          - "null"
      status_message:
        type:
          - string
          - "null"
      success:
        type:
          - boolean
          - "null"
  Add To Watchlist:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      status_code:
        type:
          - number
          - "null"
      status_message:
        type:
          - string
          - "null"
      success:
        type:
          - boolean
          - "null"
  Get Favourite Movies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      page:
        type:
          - number
          - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            adult:
              type:
                - boolean
                - "null"
            backdrop_path:
              type:
                - string
                - "null"
            genre_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            id:
              type:
                - number
                - "null"
            original_language:
              type:
                - string
                - "null"
            original_title:
              type:
                - string
                - "null"
            overview:
              type:
                - string
                - "null"
            popularity:
              type:
                - number
                - "null"
            poster_path:
              type:
                - string
                - "null"
            release_date:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            video:
              type:
                - boolean
                - "null"
            vote_average:
              type:
                - number
                - "null"
            vote_count:
              type:
                - number
                - "null"
      total_pages:
        type:
          - number
          - "null"
      total_results:
        type:
          - number
          - "null"
  Get Watchlist Movies:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      page:
        type:
          - number
          - "null"
      results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            adult:
              type:
                - boolean
                - "null"
            backdrop_path:
              type:
                - string
                - "null"
            genre_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            id:
              type:
                - number
                - "null"
            original_language:
              type:
                - string
                - "null"
            original_title:
              type:
                - string
                - "null"
            overview:
              type:
                - string
                - "null"
            popularity:
              type:
                - number
                - "null"
            poster_path:
              type:
                - string
                - "null"
            release_date:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            video:
              type:
                - boolean
                - "null"
            vote_average:
              type:
                - number
                - "null"
            vote_count:
              type:
                - number
                - "null"
      total_pages:
        type:
          - number
          - "null"
      total_results:
        type:
          - number
          - "null"
  Find Movie By Id From External Source:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      movie_results:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            adult:
              type:
                - boolean
                - "null"
            backdrop_path:
              type:
                - string
                - "null"
            genre_ids:
              type:
                - array
                - "null"
              items:
                type:
                  - number
                  - "null"
            id:
              type:
                - number
                - "null"
            media_type:
              type:
                - string
                - "null"
            original_language:
              type:
                - string
                - "null"
            original_title:
              type:
                - string
                - "null"
            overview:
              type:
                - string
                - "null"
            popularity:
              type:
                - number
                - "null"
            poster_path:
              type:
                - string
                - "null"
            release_date:
              type:
                - string
                - "null"
            title:
              type:
                - string
                - "null"
            video:
              type:
                - boolean
                - "null"
            vote_average:
              type:
                - number
                - "null"
            vote_count:
              type:
                - number
                - "null"
      person_results:
        type:
          - array
          - "null"
      tv_episode_results:
        type:
          - array
          - "null"
      tv_results:
        type:
          - array
          - "null"
      tv_season_results:
        type:
          - array
          - "null"
  Details Of A Movie:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      adult:
        type:
          - boolean
          - "null"
      backdrop_path:
        type:
          - string
          - "null"
      budget:
        type:
          - number
          - "null"
      genres:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            name:
              type:
                - string
                - "null"
      homepage:
        type:
          - string
          - "null"
      id:
        type:
          - number
          - "null"
      imdb_id:
        type:
          - string
          - "null"
      origin_country:
        type:
          - array
          - "null"
        items:
          type:
            - string
            - "null"
      original_language:
        type:
          - string
          - "null"
      original_title:
        type:
          - string
          - "null"
      overview:
        type:
          - string
          - "null"
      popularity:
        type:
          - number
          - "null"
      poster_path:
        type:
          - string
          - "null"
      production_companies:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            id:
              type:
                - number
                - "null"
            logo_path:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            origin_country:
              type:
                - string
                - "null"
      production_countries:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            iso_3166_1:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      release_date:
        type:
          - string
          - "null"
      revenue:
        type:
          - number
          - "null"
      runtime:
        type:
          - number
          - "null"
      spoken_languages:
        type:
          - array
          - "null"
        items:
          type:
            - object
            - "null"
          properties:
            english_name:
              type:
                - string
                - "null"
            iso_639_1:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
      status:
        type:
          - string
          - "null"
      tagline:
        type:
          - string
          - "null"
      title:
        type:
          - string
          - "null"
      video:
        type:
          - boolean
          - "null"
      vote_average:
        type:
          - number
          - "null"
      vote_count:
        type:
          - number
          - "null"
